<!DOCTYPE html>
<html lang="ja">
<head>
    <title>動画再生</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <h1>{{videotitle}}</h1>
    <video id="video-player" controls>
        <source id="video-source" src="{{videourls[0]}}" type="video/mp4">
        お使いのブラウザは動画タグをサポートしていません。
    </video>

    <form id="quality-form">
        <label for="quality">画質を選択:</label>
        <select id="quality" name="quality">
            <option value="auto">自動</option>
            <option value="hd720">720p</option>
            <option value="medium">480p</option>
            <option value="small">360p</option>
        </select>
    </form>

    <div>
        <h2>詳細</h2>
        <p>{{description}}</p>
    </div>

    <script>
    document.getElementById('quality-form').addEventListener('change', function() {
        var selectedQuality = document.getElementById('quality').value;
        fetch('/set_quality', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ quality: selectedQuality }),
        }).then(response => {
            return response.json();
        }).then(data => {
            if (data.status === 'success') {
                var videoPlayer = document.getElementById('video-player');
                var videoSource = document.getElementById('video-source');
                videoSource.src = "{{videourls[0]}}&quality=" + selectedQuality;
                videoPlayer.load();
            }
        });
    });
    </script>
</body>
</html>
